.HomePage {
  width: 100vw;
  min-height: 100vh;
  height: calc(100vh - 115px);
  display: flex;
  background-color: #010101;
  background-image: url("../assets/homepage_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1600px 1067px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  .content {
    max-width: 880px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 0;

    h1 {
      font-weight: 700;
      font-size: 82px;
      letter-spacing: 0;
      margin: 0;
      padding: 0;
    }
    h2 {
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 0;
      text-transform: lowercase;
      margin: 0;
      margin-bottom: 60px;
      padding: 0;
    }
  }
}