.header {
  width: 100%;
  height: 115px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 64px;
  align-items: center;


  a {
    text-decoration: none;
    color: inherit;
  }

}

.dark {
  background-color: #010400;
  color: white;
}

.light {
  background-color: white;
  color: #010400;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 15px;
  font-size: 34px;
  font-style: italic;
  line-height: 100%;
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 96px;
    align-items: center;

    .signup {
      font-weight: 600;
    }

    li {
      transition: ease-in-out 0.2s;
    &:hover {
      transform: scale(1.1);
    }
    &:active{
      transform: scale(0.9);
    }}
  }
}